<% provide(:title, 'エンジニア詳細') %>

<script>

  $(document).ready(function(){

    // 保持スキルの高さ調整(プラスPadding10px分も)
    $('#thSkill').height($('td#tdSkill').height()+10);

    // スキルアイコンを触れると経験年数吹き出しが出る
    $("#tdSkill div").hover(
      function(){
        var width = $(this).width();
        $(this).width(width);
        var text = $(this).find('#month').val();
        $(this).append('<div class="tooltips">'+text+'</div>');
        // 吹き出しの幅は75px
        $('.tooltips').width(75);
      },
      function(){
        $(this).find(".tooltips").remove();
      }
    );

  })

</script>

<h3>エンジニア詳細</h3>

<div style="margin-top:30px; margin-left:auto; margin-right:auto; display:table;">
  <table class="table-bordered table-condensed" style="float:left; width:400px;">
    <tbody>
      <tr>
        <th>社員番号</th>
      </tr>
      <tr>
        <th>氏名</th>
      </tr>
      <tr>
        <th>所属</th>
      </tr>
      <tr>
        <th>生年月日(年齢)</th>
      </tr>
      <tr>
        <th>電話番号</th>
      </tr>
      <tr>
        <th>最寄り駅</th>
      </tr>
      <% unless @user.admin_flag? %>
        <tr>
          <th>参画可能日</th>
        </tr>
        <% if @join.present? %>
          <tr>
            <th>参画終了予定日</th>
          </tr>
        <% end %>
        <tr>
          <th id="thSkill">保持スキル</th>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class = "table-bordered table-condensed" style="float:left; width:500px;">
    <tbody>
      <tr>
        <td style="text-align:left;"><%= @user.employee_number %></td>
      </tr>
      <tr>
        <td style="text-align:left;"><%= @user.name %></td>
      </tr>
      <tr>
        <td style="text-align:left;"><%= @user.department %></td>
      </tr>
      <tr>
        <td style="text-align:left;">
          <%= @user.birthday.to_date.strftime('%Y年%-m月%-d日') + "（"+ getAge(@user.birthday).to_s + "歳）"%>
        </td>
      </tr>
      <tr>
        <td style="text-align:left;"><%= @user.telephone_number %></td>
      </tr>
      <tr>
        <td style="text-align:left;"><%= @user.nearest_station %></td>
      </tr>
      <% unless @user.admin_flag? %>
        <tr>
          <td style="text-align:left;">
            <% unless @join.present? %>
              <% if @user.join_able_date.present? %>
                <%= @user.join_able_date.to_date.strftime('%Y年%-m月%-d日') + ' ～' %>
              <% else %>
                未定
              <% end %>
            <% else %>
            <%= link_to '案件参画中', project_detail_path(@join.project_id) %>
            <% end %>
          </td>
        </tr>
        <% if @join.present? %>
          <tr>
            <td style="text-align:left;">
              <%= endDate = @join.end_date; endDate.present? ? '～ ' + endDate.to_date.strftime('%Y年%-m月%-d日') : '未定' %>
            </td>
          </tr>
        <% end %>
        <tr>
          <% unless @possessedSkills.empty? %>
            <td id="tdSkill" style="text-align:left; padding:10px;">
              <% @possessedSkills.each do |possessedSkill| %>
                <div class="btn btn-primary btn-sm" style="cursor:default;">
                  <input type="hidden" name="month" id="month" value=<%= getYearAndMonth(possessedSkill.month) %>>
                  <%= getSkillName(possessedSkill.skill_id) %>
                </div>
              <% end %>
              <% if current_user.admin_flag? %>
                <br><p style="margin-top:10px; margin-bottom:0px;"><%= link_to 'マッチする案件照会', user_matching_path(@user.employee_number) %></p>
              <% end %>
            </td>
          <% else %>
            <td style="text-align:left;">なし</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>