<% provide(:title, 'エンジニア詳細') %>

<script>

  $(document).ready(function(){

    // 「more」又は「close」リンクを押下した回数(デフォルトは0回)
    var count = 0;

    // 6行目以降は非表示
    $('ul:gt(5)').hide();

    // 保持スキルの高さ調整(プラスPadding10px分も)
    $('#thSkill').height($('td#tdSkill').height()+10);
    // お気に入り案件の高さ調整(プラスPadding10px分も)
    $('#thFavoriteProject').height($('td#tdFavoriteProject').height()+10);
    // スキルシートの高さ調整
    $('#thSkillSheet').height($('td#tdSkillSheet').height());

    // 未入力OK(備考)の高さ調整
    if(!$('#tdDescription').text().trim()) { // 備考
      $('#tdDescription').height($('#thDescription').height());
    }

    // 「アップロード」ボタンの初期表示は非活性
    $('#upload').attr('disabled', true);

    // スキルアイコンを触れると経験年数吹き出しが出る
    $("#tdSkill div").hover(
      function(){
        var width = $(this).width();
        $(this).width(width);
        var text = $(this).find('#month').val();
        $(this).append('<div class="tooltips">'+text+'</div>');
        // 吹き出しの幅は75px
        $('.tooltips').width(75);
      },
      function(){
        $(this).find(".tooltips").remove();
      }
    );

    // お気に入り案件枠の「more」or「close」リンクを押下した場合の処理
    $("#toggle").click(function(){
      if(count%2 == 0) {
        // 6行目以降表示し、リンク名を「close」に変更
        $('ul:gt(5)').show(); $(this).text("close");
        // さらに11行以上の場合はスクロールを表示、高さを調整する
        if($('div#favorite ul').length > 10) {
          $('div#favorite').css('overflow','auto'); $('div#favorite').css('height', '300px');
        }
      } else {
        // 6行目以降非表示し、リンク名を「more」に変更
        $('ul:gt(5)').hide(); $(this).text("more");
        // さらに11行以上の場合はスクロールを非表示、高さを調整する
        if($('div#favorite ul').length > 10) {
          $('div#favorite').css('overflow',''); $('div#favorite').css('height', '');
        }
      }
      // 上記に応じて高さを調整
      $('#thFavoriteProject').height($('td#tdFavoriteProject').height()+10);
      count++;
    });

    // ファイル(PDF or xls or xlsx形式)選択された場合に「アップロード」ボタンが活性化するメソッド
    $('[name=skillSheet]').change(function() {
      if(!$.isEmptyObject($(this).val())) {
        $('#upload').attr('disabled', false);
      } else {
        // 「PDF or xls or xlsx」形式のファイル選択後に「キャンセル」ボタン押下した場合
        $('#upload').attr('disabled', true);
      }
    });

    // 「アップロード」ボタンを押下した場合の処理
    $('#upload').click(function(){
      // 活性化のみ
      if(!$(this).attr('disabled')) {
        var formData = new FormData($('#uploadForm').get(0));
        var employeeNumber = location.pathname.split('/')[2]; // 「/users/社員番号/detail」の2番目を取得
        formData.append("id", employeeNumber);
        upload(formData);
      }
    });

    // ファイルオブジェクトをもとにファイルアップロード処理を呼び出すメソッド
    function upload(formData) {
      $.ajax({
        url : '/users/upload',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        dataType: 'json'
      }).done(function(data){
        location.reload(); // アップロード成功しても失敗しても「エンジニア詳細」画面をリロード
        $('html,body').animate({ scrollTop: 0 }, '1'); // スクロールトップへ移動
      });
    }

  })

</script>

<h3>エンジニア詳細</h3>

<div style="margin-top:30px; margin-left:auto; margin-right:auto; display:table;">
  <table class="table-bordered table-condensed engineer-detail-left">
    <tbody>
      <tr>
        <th>社員番号</th>
      </tr>
      <tr>
        <th>氏名</th>
      </tr>
      <tr>
        <th>性別</th>
      </tr>
      <tr>
        <th>所属</th>
      </tr>
      <tr>
        <th>生年月日(年齢)</th>
      </tr>
      <tr>
        <th>電話番号</th>
      </tr>
      <tr>
        <th>最寄り駅</th>
      </tr>
      <% unless @user.admin_flag? %>
        <tr>
          <th>希望単価</th>
        </tr>
      <% end %>
      <tr>
        <th>就業形態</th>
      </tr>
      <% unless @user.admin_flag? %>
        <tr>
          <th>参画可能日</th>
        </tr>
        <% if @join.present? %>
          <tr>
            <th>参画終了予定日</th>
          </tr>
        <% end %>
        <tr>
          <th id="thSkill">保持スキル</th>
        </tr>
        <tr>
          <th id="thFavoriteProject">お気に入り案件</th>
        </tr>
        <tr>
          <th id="thSkillSheet">スキルシート</th>
        </tr>
      <% end %>
      <tr>
        <th id="thDescription">備考</th>
      </tr>
    </tbody>
  </table>

  <table class = "table-bordered table-condensed engineer-detail-right">
    <tbody>
      <tr>
        <td style="text-align:left;"><%= @user.employee_number %></td>
      </tr>
      <tr>
        <td style="text-align:left;"><%= @user.name %></td>
      </tr>
      <tr>
        <td style="text-align:left;"><%= {"male":"男性", "female":"女性"}[@user.gender.to_sym] %></td>
      </tr>
      <tr>
        <td style="text-align:left;"><%= @user.department %></td>
      </tr>
      <tr>
        <td style="text-align:left;">
          <%= @user.birthday.to_date.strftime('%Y年%-m月%-d日') + "（"+ getAge(@user.birthday).to_s + "歳）"%>
        </td>
      </tr>
      <tr>
        <td style="text-align:left;"><%= @user.telephone_number %></td>
      </tr>
      <tr>
        <td style="text-align:left;"><%= @user.nearest_station %></td>
      </tr>
      <% unless @user.admin_flag? %>
        <tr>
          <td style="text-align:left;">
            <%= getPriceDisplay(@user.price_min) + "　～　" + getPriceDisplay(@user.price_max) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td style="text-align:left;">
          <%= {"fullTime":"正社員", "contract":"契約社員", "subcontract":"業務委託"}[@user.working_style.to_sym] %>
        </td>
      </tr>
      <% unless @user.admin_flag? %>
        <tr>
          <td style="text-align:left;">
            <% unless @join.present? %>
              <% if @user.join_able_date.present? %>
                <%= @user.join_able_date.to_date.strftime('%Y年%-m月%-d日') + ' ～' %>
              <% else %>
                未定
              <% end %>
            <% else %>
            <%= link_to '案件参画中', project_detail_path(@join.project_id) %>
            <% end %>
          </td>
        </tr>
        <% if @join.present? %>
          <tr>
            <td style="text-align:left;">
              <%= endDate = @join.end_date; endDate.present? ? '～ ' + endDate.to_date.strftime('%Y年%-m月%-d日') : '未定' %>
            </td>
          </tr>
        <% end %>
        <tr>
          <% unless @possessedSkills.empty? %>
            <td id="tdSkill" style="text-align:left; padding:10px;">
              <% @possessedSkills.each do |possessedSkill| %>
                <div class="btn btn-primary btn-sm" style="cursor:default;">
                  <input type="hidden" name="month" id="month" value=<%= getYearAndMonth(possessedSkill.month) %>>
                  <%= getSkillName(possessedSkill.skill_id) %>
                </div>
              <% end %>
              <% if current_user.admin_flag? %>
                <br><p style="margin-top:10px; margin-bottom:0px;"><%= link_to 'マッチする案件照会', user_matching_path(@user.employee_number) %></p>
              <% end %>
            </td>
          <% else %>
            <td style="text-align:left;">なし</td>
          <% end %>
        </tr>
        <tr>
          <% unless @favoriteProjects.empty? %>
            <td id="tdFavoriteProject" style="text-align:left; padding:10px;">
              <div id="favorite" style="margin-top:10px; margin-bottom:10px;">
              <% @favoriteProjects.each_with_index do |favoriteProject, index| %>
                <ul>
                  <li>
                    <%= "「" + User.find(favoriteProject[1]).name + "」さんからおすすめ案件" %> : <%= link_to favoriteProject[0], project_detail_path(favoriteProject[0]) %>
                    <br>
                  </li>
                </ul>
              <% end %>
              </div>
              <% if @favoriteProjects.count > 5 %><a href="javascript:void(0)" id="toggle" style="float:right;">more</a><% end %>
            </td>
          <% else %>
            <td style="text-align:left;">なし</td>
          <% end %>
        </tr>
        <tr>
          <td id="tdSkillSheet" style="text-align:left;">
            <% if @skillSheetInfo.present? %>
              <%= link_to @skillSheetInfo.file_name, user_download_path(@user.employee_number), method: :post %>
            <% else %>
              <form id="uploadForm">
                <input type="file" id="skillSheet" name="skillSheet" accept=".xls,.xlsx,.pdf" style="height:30px; margin-bottom:0px;">
                <div id="upload" class="btn btn-primary" style="margin-top:5px;">アップロード</div>
              </form>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td id="tdDescription" style="text-align:left;"><%= @user.description %></td>
      </tr>
    </tbody>
  </table>
</div>