<% provide(:title, 'エンジニアマッチング') %>

<script>

  // tableの行をhover
  $(function(){
    $("table tbody tr").hover(function() {
      $(this).css('background-color','#fafafa');
    }, function() {
      $(this).css('background-color','');
    });
  });

  // お気に入りチェックボックス押下処理
  $(function(){
    $(document).on('change', '#favorite', function() {
      $.ajax({
        url: '/api/v1/users/favorite',
        type: 'POST',
        data: {
          project_id: $(this).closest('tr').find('#projectId').text(),
          employee_number: location.pathname.split('/')[2], // 「/users/社員番号/matching」の2番目を取得
          favorite: $(this).prop('checked')
        },
        dataType: 'json'
      }).done(function(data){
      });
    });
  });

</script>

<div>
  <h3>「<%= User.find(params[:id]).name %>」さんの案件マッチング</h3>
</div>

<%= will_paginate @skillMatchInfos, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>

<table id="userMatching" class="table-bordered table-condensed">
  <thead>
    <tr style="background-color:#ebebeb;">
      <th>案件番号</th>
      <th>案件名</th>
      <th>案件開始日</th>
      <th>マッチングスキル</th>
      <th>この案件にお気に入り</th>
    </tr>
  </thead>
  <tbody>
    <% @skillMatchInfos.each do |skillMatchInfo| %>
      <tr style="height:50px;">
        <% @project = Project.find(skillMatchInfo[0]) %>
        <td id="projectId"><%= link_to skillMatchInfo[0], project_detail_path(skillMatchInfo[0]) %></td>
        <td id="name"><%= @project.project_name %></td>
        <td id="startDate"><%= Date.parse(@project.start_date).strftime("%Y年%-m月%-d日　～") %></td>
        <td id="matchingSkills">
          <% skillMatchInfo[1][1].each do |matchingSkillId| %>
            <div class="btn btn-primary btn-sm" style="margin-right:10px; cursor:default;">
              <%= getSkillName(matchingSkillId) %>
            </div>
          <% end %>
        </td>
        <td style="width:15%;">
          <input type="checkbox" id="favorite" <%= @favoriteProjects.include?(skillMatchInfo[0]) ? "checked" : "" %>>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @skillMatchInfos, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>