<% provide(:title, 'エンジニア新規') %>
<% provide(:button_text, '登録確認') %>

<script>

  // 「登録確認」ボタン時のバリデーションチェック
  function check() {

    var validationCheck = true;

    // 氏名
    oneCheck($('#name').val(), "氏名");
    // 所属部署
    oneCheck($('#department').val(), "所属部署");
    // 生年月日
    threeCheck($('[name=birthday_year] option:selected').text(),
      $('[name=birthday_month] option:selected').text(),
        $('[name=birthday_day] option:selected').text(), true, "生年月日");
    // 最寄り駅
    oneCheck($('#station').val(), "最寄り駅");
    // 電話番号
    threeCheck($('#tel1').val(), $('#tel2').val(), $('#tel3').val(), false, "電話番号");
    // 参画可能日(必須ではない)
    var joinYear = $('[name=join_year] option:selected').text();
    var joinMonth = $('[name=join_month] option:selected').text();
    var joinDay = $('[name=join_day] option:selected').text();
    // 参画可能日はすべて空かすべて入力されている場合
    if(
        (joinYear != '' && joinYear != null) &&
          (joinMonth != '' && joinMonth != null) &&
            (joinDay != '' && joinDay != null)
      ) {
        if(!isDate(joinYear+"/"+joinMonth+"/"+joinDay)){
          alert("正しい日付にしてください");
          validationCheck = false;
        }
    } else if(
        (joinYear == '' || joinYear == null) &&
          (joinMonth == '' || joinMonth == null) &&
            (joinDay == '' || joinDay == null)
      ) {
    } else {
      alert("参画可能日はすべて空かすべて入力されているかにしてください。");
      validationCheck = false;
    }
    // パスワード
    oneCheck($('#password').val(), "パスワード", true);
    // パスワード確認
    oneCheck($('#passwordConfirmation').val(), "パスワード確認", true);
    // パスワードとパスワード確認一致しているか
    if($('#password').val() != $('#passwordConfirmation').val()) {
      alert("パスワードは一致してください。");
      validationCheck = false;
    }

    return validationCheck;

    // 1個の項目に必須かチェック
    function oneCheck(value, name, password=false) {

      if(value == '' || value == null) {
        alert(name + "は必須項目です");
        validationCheck = false;
      }
      // パスワードチェック(6文字以上)
      if(password) {
        if(value.length < 6) {
          alert(name + "は6文字以上入力してください");
          validationCheck = false;
        }
      }
    }

    // 3個(例えば年月日や電話番号)の項目に必須かチェック
    function threeCheck(value1, value2, value3, dateFlag, name) {

      var flag = true;

      if(value1 == '' || value1 == null) {
        flag = false;
      } else if(value2 == '' || value2 == null) {
        flag = false;
      } else if(value3 == '' || value3 == null) {
        flag = false;
      }

      if(!flag) {
        alert(name + "は必須項目です");
        validationCheck = false;
      } else {
        if(dateFlag) {
          if(!isDate(value1+"/"+value2+"/"+value3)) {
            alert("正しい日付にしてください");
            validationCheck = false;
          }
        }
      }
    }

    // 日付バリデーション
    function isDate(strDate){
      // 空文字は無視
      if(strDate == ""){
        return true;
      }
      // 年/月/日の形式のみ許容する
      if(!strDate.match(/^\d{4}\/\d{1,2}\/\d{1,2}$/)){
        return false;
      } 

      // 日付変換された日付が入力値と同じ事を確認
      // new Date()の引数に不正な日付が入力された場合、
      // 相当する日付に変換されてしまうため
      var date = new Date(strDate);  
      if(date.getFullYear() !=  strDate.split("/")[0] 
        || date.getMonth() != strDate.split("/")[1] - 1 
        || date.getDate() != strDate.split("/")[2]
      ){
        return false;
      }
      return true;
    }
  }

　// スキル追加ボタン
  $(function(){
    $("#skillButton").on("click", function() {
      $(this).next().slideToggle();
    });
  });

  // 追加ボタン
  $(function(){
    $("#add").on("click", function() {
      var a = $('#skillFlame table#new:first').clone(true);
      $(this).parent().append(a);
      // 非活性解除
      $('#skillFlame #del').attr('disabled', false);
    });
  });

  // 削除ボタン
  $(function(){
    $('div#del').on("click", function() {
      // 非活性の削除ボタンは削除できない
      if(!$('div#del').attr('disabled')) {
        $(this).parent().parent().parent().parent().remove();
        // 枠が1個以下の場合は削除ボタンを押せないようにする(非活性)
        if($('#skillFlame table#new:visible').length <= 1) {
          $('div#del').attr('disabled', true);
        }
      }
    });
  });

</script>

<div>
  <h3 style="float:left;">エンジニア新規</h3>
  <h4 style="float:right;"><p style="color:red;">※　必須項目</p></h4>
</div>

<%= form_with url: user_confirm_path, method:"post", local: true, class:"search_form" do |f| %>

  <input type="hidden" name="employeeNumber" value="<%= @employee_number %>">

  <table id="new" style="margin-top:75px;">
    <tr>
      <th style="width:250px;">社員番号</th>
      <td style="text-align:left; font-size:25px; font-weight:700;"><%= @employee_number %></td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">氏名</p>
          <p style="color:red; float:left;">※</p>
        </div>
      </th>
      <td>
        <%= f.text_field :name, class: 'form-control', :id=>"name", :style=>"width:60%;" %>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">所属部署</p>
          <p style="color:red; float:left;">※</p>
        </div>
      </th>
      <td>
        <%= f.text_field :department, class: 'form-control', :id=>"department", :style=>"width:60%;" %>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">生年月日</p>
          <p style="color:red; float:left;">※</p>
        </div>
      </th>
      <td>
        <div>
          <%= f.collection_select :birthday_year, getYearMap, :first, :last,
            { include_blank: true, selected: "" }, class: 'form-control', 
              :style=>"float:left; margin-bottom:0px; width:15%;" %>
            <p id="birth"> 年 </p>
          <%= f.collection_select :birthday_month, getMonthMap, :first, :last,
            { include_blank: true, selected: "" }, class: 'form-control', 
              :style=>"float:left; margin-bottom:0px; width:15%;" %>
            <p id="birth"> 月 </p>
          <%= f.collection_select :birthday_day, getDayMap, :first, :last,
            { include_blank: true, selected: "" }, class: 'form-control', 
              :style=>"float:left; margin-bottom:0px; width:15%;" %>
            <p id="birth"> 日 </p>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">最寄り駅</p>
          <p style="color:red; float:left;">※</p>
        </div>
      </th>
      <td>
        <%= f.text_field :station, class: 'form-control', :id=>"station", :style=>"width:60%; float:left;" %>
        <p style="float:left; -webkit-text-emphasis-style:open;">　駅</p>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">電話番号</p>
          <p style="color:red; float:left;">※</p>
        </div>
      </th>
      <td>
        <div>
          <%= f.text_field :tel1, class: 'form-control', :id=>"tel1", :style=>"width:10%; float: left;" %>
            <p id="tel"> - </p>
          <%= f.text_field :tel2, class: 'form-control', :id=>"tel2", :style=>"width:10%; float: left;" %>
            <p id="tel"> - </p>
          <%= f.text_field :tel3, class: 'form-control', :id=>"tel3", :style=>"width:10%; float: left;" %>
        </div>
      </td>
    </tr>
    <tr>
      <th>参画可能日</th>
      <td>
        <div>
          <%= f.collection_select :join_year, getJoinYearMap, :first, :last,
            { include_blank: true, selected: "" }, class: 'form-control', 
              :style=>"float:left; margin-bottom:0px; width:15%;" %>
            <p id="join"> 年 </p>
          <%= f.collection_select :join_month, getMonthMap, :first, :last,
            { include_blank: true, selected: "" }, class: 'form-control', 
              :style=>"float:left; margin-bottom:0px; width:15%;" %>
            <p id="join"> 月 </p>
          <%= f.collection_select :join_day, getDayMap, :first, :last,
            { include_blank: true, selected: "" }, class: 'form-control', 
              :style=>"float:left; margin-bottom:0px; width:15%;" %>
            <p id="join"> 日 ～ </p>
        </div>
      </td>
    </tr>
    <tr>
      <th>スキル</th>
      <td>
        <div id="skillButton" class="btn btn-primary" style="width:100%;">
          スキル入力
        </div>
        <div id="skillFlame" style="display:none;">
          <div id="add" class="btn btn-danger" style="float:left; margin-top:10px;">スキル枠追加</div>
          <table id="new">
            <tr>
              <th>スキル</th>
              <td>
                <%= f.collection_select "skill[]", @skills, :skill_id, :skill_name,
                  { include_blank: true, selected: "" }, class: 'form-control', 
                    :style=>"float:left; margin-bottom:0px; width:50%;" %>
              </td>
            </tr>
            <tr>
              <th>経験年数</th>
              <td id="exp">
                <%= f.collection_select "exp_year[]", getExpYearMap, :first, :last,
                  { include_blank: true, selected: "" }, class: 'form-control', 
                    :style=>"float:left; margin-bottom:0px; width:15%;" %>
                <p id="birth"> 年 </p>
                <%= f.collection_select "exp_month[]", getExpMonthMap, :first, :last,
                  { include_blank: true, selected: "" }, class: 'form-control', 
                    :style=>"float:left; margin-bottom:0px; width:15%;" %>
                <p id="birth"> ヶ月 </p>
                <div id="del" class="btn btn-danger" disabled="disabled">削除</div>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">パスワード</p>
          <p style="color:red; float:left;">※</p>
        </div>
        <p style="margin-top:-10px;">（６文字以上）</p>
      </th>
      <td>
        <%= f.password_field :password, class: 'form-control', :id=>"password", :style=>"width:60%;" %>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">パスワード確認</p>
          <p style="color:red; float:left;">※</p>
        </div>
      </th>
      <td>
        <%= f.password_field :password_confirmation, class: 'form-control', :id=>"passwordConfirmation", :style=>"width:60%;" %>
      </td>
    </tr>
  </table>

  <input type="submit" class="btn btn-primary" value="<%= yield(:button_text) %>"
    style="width:50%; margin:auto; margin-top:50px; display:block;" onClick="return check();"></input>

<% end %>
