<% provide(:title, '案件一覧') %>

<div>
  <h3>案件一覧</h3>
  <% if current_user.admin_flag %>
    <%= link_to " ＋ 案件新規登録", projects_new_path, class:"btn btn-primary", :style=>"float:left;" %>
  <% end %>
  <%= link_to "案件検索", projects_search_path, class:"btn btn-primary", :style=>"float:right;" %>
</div>

<%= will_paginate %>

<% if @projects.present? %>
  <% @projects.each_with_index do |project, index| %>
    <% if index % 10 == 0 %>
      <table id="project" class="table-bordered table-condensed"
        style="margin-top:75px; width:90%; margin-left:auto; margin-right:auto; border-top:none; border-left:none; border-right:none;">
    <% else %>
      <table id="project" class="table-bordered table-condensed"
        style="margin-top:30px; width:90%; margin-left:auto; margin-right:auto; border-top:none; border-left:none; border-right:none;">
    <% end %>
      <thead>
        <tr>
          <td id="projectName" colspan="4">
            <%= link_to project.project_name, project_detail_path(project.project_id) %>
          </td>
        </tr>
        <tr>
          <th>内容</th>
          <td colspan="3"><%= project.content %></td>
        </tr>
        <tr>
          <th>単価</th>
          <td width="25%">
            <%= getPriceDisplay(project.price_min) + "　～　" + getPriceDisplay(project.price_max) %>
          </td>
          <th>作業場所</th>
          <td><%= project.working_place %></td>
        </tr>
        <tr>
          <th>必須スキル</th>
          <td colspan="3">
            <% @projectSkills.where("project_id = ?", project.project_id).each_with_index do |projectSkill, index| %>
              <% if (index == 0 and @projectSkills.where("project_id = ?", project.project_id).count == 1) or @projectSkills.where("project_id = ?", project.project_id).count == index+1 %>
                <div class="btn btn-primary" style="cursor:default;">
                  <%= getSkillName(projectSkill.must_skill_id) %>
                </div>
              <% else %>
                <div class="btn btn-primary" style="margin-right:10px; cursor:default;">
                  <%= getSkillName(projectSkill.must_skill_id) %>
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>備考</th>
          <td colspan="3"><%= project.description %></td>
        </tr>
      </thead>
    </table>
  <% end %>
<% else%>
  <h1 style="margin-top:100px;">
    該当の案件は存在しません。
  </h1>
<% end %>

<%= will_paginate %>