<% provide(:title, '案件新規') %>
<% provide(:button_text, '登録確認') %>

<script>

  // 「登録確認」ボタン時のバリデーションチェック
  function check() {

    var validationCheck = true;

    // 案件名
    oneCheck($('#projectName').val(), "案件名");
    // 案件内容
    oneCheck($('#content').val(), "案件内容");
    // 作業場所
    oneCheck($('#workingPlace').val(), "作業場所");
    // 単価(両方未入力はNG)
    if(($('#priceMin').val() == '' || $('#priceMin').val() == null)
        && ($('#priceMax').val() == '' || $('#priceMax').val() == null)) {
      alert("単価はどちらか一方は入力してください。");
      validationCheck = false;
    } else {
      // 両方入力の場合は比較
      if(($('#priceMin').val() != '' && $('#priceMin').val() != null)
        && ($('#priceMax').val() != '' && $('#priceMax').val() != null)) {
        twoCheck($('#priceMin').val(), $('#priceMax').val(), "単価");
      }
    }
    // 精算幅(両方入力以外はNG)
    if(($('#hourMin').val() == '' || $('#hourMin').val() == null)
      || ($('#hourMax').val() == '' || $('#hourMax').val() == null)) {
      alert("精算幅は両方入力してください。");
      validationCheck = false;
    } else {
      twoCheck($('#hourMin').val(), $('#hourMax').val(), "精算幅");
    }
    // 案件開始日
    if($.isEmptyObject($('#projectStartDate').val())) {
      alert('案件開始日は必須項目なので入力されていないか正しい日付にしていないかのいずれかです。');
      validationCheck = false;
    }
    // 時間
    var timeFromHour = $('[name=time_from_hour] option:selected').val();
    var timeFromMinutes = $('[name=time_from_minites] option:selected').val();
    var timeToHour = $('[name=time_to_hour] option:selected').val();
    var timeToMinutes = $('[name=time_to_minites] option:selected').val();
    // 時間はすべて空かすべて入力されている以外の場合はNG
    twoCheck(timeFromHour, timeFromMinutes, "時間(From)");
    twoCheck(timeToHour, timeToMinutes, "時間(To)");
    // 必須スキル(少なくとも1つは必要)
    if($('#mustSkill .btn').length < 1) {
      alert("必須スキルは必ず選択してください");
      validationCheck = false;
    }

    return validationCheck;

    // 1個の項目に必須かチェック
    function oneCheck(value, name) {

      if(value == '' || value == null) {
        alert(name + "は必須項目です");
        validationCheck = false;
      }
    }

    // 2個の項目(例えば単価や精算幅)チェック
    function twoCheck(value1, value2, name) {

      if(name.indexOf('時間') != -1) {
        // 両方入力か両方未入力以外NG
        if((value1 != '' && value1 != null) && (value2 != '' && value2 != null)) {
        } else if((value1 == '' || value1 == null) && (value2 == '' || value2 == null)) {
        } else {
          alert(name + "はすべて空かすべて入力されているかにしてください。");
          validationCheck = false;
        }
      } else {
        // 念のため数値変換
        value1 = value1-0; value2 = value2-0;
        if(value1 > value2) {
          if(name == "単価") {
            alert(name + "は以下のように入力してください。\n"
                    + value2 + " 円　～　 " + value1 + " 円");
          } else if (name == "精算幅") {
            alert(name + "は以下のように入力してください。\n"
                    + value2 + " H　～　 " + value1 + " H");
          }
          validationCheck = false;
        }
      }
    }

  }

  // 戻るボタンでも効くように
  $(document).ready(

    function(){

      // スキルボタン(追加ボタン以外)押下 → そのスキル削除
      $(document).on('click','#mustSkill .btn:not(#addMust), #wantSkill .btn:not(#addWant)',
        function() {
          // hiddenパラメータも削除
          $(this).find().remove();
          $(this).remove();
        }
      );

      // スキル選択時
      $('#mustSelect, #wantSelect').on("change",
        function() {
          var id = '#'+$(this).attr('id');
          var add = $('<div class="btn btn-primary" style="margin-right:5px;">'+$(id+' option:selected').text()+'</div>');
          // 選択したスキルを追加
          if(id.indexOf('must') != -1) { // 必須スキル
            var skill = 'must';
          } else if(id.indexOf('want') != -1) { // 尚可スキル
            var skill = 'want';
          }
          $('#'+skill+'Skill').append(add);
          add.append('<input type="hidden" name="'+skill+'Skill[]" value='+$(id+' option:selected').val()+'>');
          // 未選択の状態にし(初期化)、プルダウンを隠す
          $(this).val("");
          $(this).parent().css('display','none');
        }
      );

      // 追加ボタン押下 → スキルプルダウン追加
      $('#addMust, #addWant').on("click",
        function(){
          // 必須ボタン押下
          if($(this).text() == '必須スキル追加') {
            $('td#must #select').css('display','block');
          // 尚可ボタン押下
          } else if($(this).text() == '尚可スキル追加') {
            $('td#want #select').css('display','block');
            }
        }
      );

    }
  );

</script>

<div>
  <h3 style="float:left;">案件新規</h3>
  <h4 style="float:right;"><p style="color:red;">※　必須項目</p></h4>
</div>

<%= form_with url: project_confirm_path, method:"post", local: true, class:"search_form" do |f| %>

  <input type="hidden" name="projectId" value="<%= @project_id %>">

  <table id="new" style="margin-top:75px;">
    <tr>
      <th style="width:250px;">案件ID</th>
      <td style="text-align:left; font-size:25px; font-weight:700;"><%= @project_id %></td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">案件名</p>
          <p style="color:red; float:left;">※</p>
        </div>
      </th>
      <td>
        <%= f.text_field :projectName, class: 'form-control', :id=>"projectName" %>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">案件内容</p>
          <p style="color:red; float:left;">※</p>
        </div>
      </th>
      <td>
        <%= f.text_area :content, class: 'form-control', :id=>"content" %>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">環境</p>
        </div>
      </th>
      <td>
        <%= f.text_area :environment, class: 'form-control', :id=>"environment" %>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">作業場所</p>
          <p style="color:red; float:left;">※</p>
        </div>
      </th>
      <td>
        <%= f.text_field :workingPlace, class: 'form-control', :id=>"workingPlace", :style=>"width:60%;" %>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">単価</p>
          <p style="color:red; float:left;">※（どちらか）</p>
        </div>
      </th>
      <td>
        <div>
          <%= f.text_field :priceMin, class: 'form-control', :id=>"priceMin", :style=>"width:20%; float: left;" %>
          <p id="price">円　～　</p>
          <%= f.text_field :priceMax, class: 'form-control', :id=>"priceMax", :style=>"width:20%; float: left;" %>
          <p id="price">円</p>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">精算幅</p>
          <p style="color:red; float:left;">※</p>
        </div>
      </th>
      <td>
        <div>
          <%= f.text_field :hourMin, class: 'form-control', :id=>"hourMin", :style=>"width:10%; float: left;" %>
          <p id="time">H　～　</p>
          <%= f.text_field :hourMax, class: 'form-control', :id=>"hourMax", :style=>"width:10%; float: left;" %>
          <p id="time">H</p>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">案件開始日</p>
          <p style="color:red; float:left;">※</p>
        </div>
      </th>
      <td style="text-align:left;">
        <%= f.date_field :projectStartDate, class: 'form-control', :id=>"projectStartDate", :style=>"width:60%;" %>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">案件終了予定日</p>
        </div>
      </th>
      <td style="text-align:left;">
        <%= f.date_field :projectEndDate, class: 'form-control', :style=>"width:60%;" %>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">時間</p>
        </div>
      </th>
      <td>
        <div>
          <%= f.collection_select :time_from_hour, getHourMap, :first, :last,
            { include_blank: true, selected: "" }, class: 'form-control',
              :style=>"float:left; margin-bottom:0px; width:15%;" %>
            <p id="time"> ： </p>
          <%= f.collection_select :time_from_minites, getMinutesMap, :first, :last,
            { include_blank: true, selected: "" }, class: 'form-control',
              :style=>"float:left; margin-bottom:0px; width:15%;" %>
            <p id="time"> ～ </p>
          <%= f.collection_select :time_to_hour, getHourMap, :first, :last,
            { include_blank: true, selected: "" }, class: 'form-control',
              :style=>"float:left; margin-bottom:0px; width:15%;" %>
            <p id="time"> ： </p>
          <%= f.collection_select :time_to_minites, getMinutesMap, :first, :last,
            { include_blank: true, selected: "" }, class: 'form-control',
              :style=>"float:left; margin-bottom:0px; width:15%;" %>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">募集人数</p>
        </div>
      </th>
      <td>
        <%= f.text_field :applicantNum, class: 'form-control', :id=>"applicantNum", :style=>"width:60%;" %>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">備考</p>
        </div>
      </th>
      <td>
        <%= f.text_area :description, class: 'form-control', :id=>"description" %>
      </td>
    </tr>
    <tr>
      <th>
        <div style="display:inline-flex; vertical-align:sub;">
          <p style="float:left;">必須スキル</p>
          <p style="color:red; float:left;">※</p>
        </div>
      </th>
      <td id="must">
        <div style="text-align:left;">
          <div id="addMust" class="btn btn-primary">必須スキル追加</div>
        </div>
        <div id="mustSkill" style="text-align:left; margin-top:10px;"></div>
        <div id="select" style="display:none;">
          <%= f.collection_select :skill, @skills, :first, :last,
            { include_blank: true }, class: 'form-control', :id=>"mustSelect",
              :style=>"float:left; margin-top:15px; width:50%;" %>
        </div>
      </td>
    </tr>
    <tr>
      <th>尚可スキル</th>
      <td id="want">
        <div style="text-align:left;">
          <div id="addWant" class="btn btn-primary">尚可スキル追加</div>
        </div>
        <div id="wantSkill" style="text-align:left; margin-top:10px;"></div>
        <div id="select" style="display:none;">
          <%= f.collection_select :skill, @skills, :first, :last,
            { include_blank: true }, class: 'form-control', :id=>"wantSelect",
              :style=>"float:left; margin-top:15px; width:50%;" %>
        </div>
      </td>
    </tr>
  </table>

  <input type="submit" class="btn btn-primary" value="<%= yield(:button_text) %>"
    style="width:50%; margin:auto; margin-top:50px; display:block;" onClick="return check();"></input>

<% end %>