<% provide(:title, '案件検索') %>
<% provide(:button_text, '検索') %>

<script>

  $(document).ready(function(){

    var skills = [];

    // 「単価」プルダウンに変更を加えたら発動
    $('select[name="price"]').change(function() {
      var val = $(this).val();
      getSelectCountWithApi(val, $('input[name="work_place"]').val(), skills, $('select[name="joinOrNot"]').val(), $('select[name="engineer"]').val());
    });

    // 「作業場所」テキストボックスに変更を加えたら発動
    $('input[name="work_place"]').change(function() {
      var val = $(this).val();
      getSelectCountWithApi($('select[name="price"]').val(), val, skills, $('select[name="joinOrNot"]').val(), $('select[name="engineer"]').val());
    });

    // 「スキル」チェックボックスをチェックしたら発動
    $('input[name="skills[]"]').change(function() {
      // 外した場合も考慮して
      skills = [];
      $('input[name="skills[]"]:checked').each(function() {
        skills.push($(this).val());
      });
      getSelectCountWithApi($('select[name="price"]').val(), $('input[name="work_place"]').val(), skills, $('select[name="joinOrNot"]').val(), $('select[name="engineer"]').val());
    });

    // 「参画有無」プルダウンを選択したら発動
    $('select[name="joinOrNot"]').change(function() {
      var val = $(this).val();
      getSelectCountWithApi($('select[name="price"]').val(), $('input[name="work_place"]').val(), skills, val, $('select[name="engineer"]').val());
    });

    // 「エンジニア」プルダウンに変更を加えたら発動
    $('select[name="engineer"]').change(function() {
      var val = $(this).val();
      getSelectCountWithApi($('select[name="price"]').val(), $('input[name="work_place"]').val(), skills, $('select[name="joinOrNot"]').val(), val);
    });

  });

  // 単価、作業場所、スキル、参画有無、エンジニアの入力・選択時に該当する件数を取得するAPIを連携するメソッド
  function getSelectCountWithApi(price, work_place, skills, joinOrNot, engineer) {
    $.ajax({
      url: '/api/v1/projects/search',
      type: 'POST',
      data: {
        price: price,
        work_place: work_place,
        skills: skills,
        joinOrNot: joinOrNot,
        engineer: engineer
      },
      dataType: 'json'
    }).done(function(data){
      $('#count').text(data);
    });
  }

</script>

<h3>案件検索条件</h3>

<%= form_with url: project_search_path, method:"post", class:"search_form" do |f| %>

  <%= f.label "単価" %>
  <%= f.collection_select :price, getPriceDsp, :first, :last, { include_blank: true, selected: "" }, class: 'form-control', :style=>"width:60%;" %>

  <%= f.label "作業場所" %>
  <%= f.text_field :work_place, class: 'form-control', :style=>"width:60%;" %>

  <table class="skill" style="margin-top:25px; margin-bottom:25px;">
    <th style="width:150px;"><%= f.label "スキル" %></th>
    <td style="font-weight:700; text-align:left;">
      <% @skills.each_with_index do |skill, index| %>
        <% if index > 0 and index.to_i.modulo(5) == 0 %>
          <br>
        <% end %>
        <input type="checkbox" name="skills[]" value="<%= skill.skill_id %>">
          <%= skill.skill_name %>
        </input>
      <% end %>
    </td>
  </table>

  <%= f.label "参画有無" %>
  <%= f.collection_select :joinOrNot, ["無","有"], :first, :last,
    { include_blank: true, selected: "" }, class: 'form-control', :style=>"width:25%;" %>

  <%= f.label "エンジニア" %>
  <%= f.collection_select :engineer, @engineers, :first, :last, { include_blank: true, selected: "" }, class: 'form-control', :style=>"width:60%;" %>

  <div style="margin-top:50px;">
    <p id="count" style="float:left; font-weight:700; font-size:25px; color:#f0ad4e;"><%= @count %></p>
    <p style="float:left; font-weight:600; margin-bottom:0px; margin-top:10px; margin-left:5px;">
      件見つかりました
    </p>
    <input type="submit" class="btn btn-primary" value="<%= yield(:button_text) %>"
      style="width:25%; margin-left:100px;"></input>
  </div>

<% end %>
